@import 'variables/colors';
@import 'layout/menu';
@import 'mixins/mixins';
body{
    font-family: 'Roboto', sans-serif;
    background-color: $main;
    .container{
        margin: 200px 500px;
    }
}